<div style="background-color: #e9eaed;">
	<h1>Sign up</h1>
	<form action="/user/signup_complete" method="post">
		Username: <input type="text" name="username"><br>
		Password: <input type="password" name="password"><br>
		Retype Password: <input type="password" name="retype_password"><br>


	</form>


</div>